version: "3"

services:

  nginx:
    image: nginx:alpine
    container_name: reverse-proxy
    restart: always
    depends_on: [ concourse-web ]
    links: [ concourse-web ]
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./static:/static
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./config/nginx/sites-available/:/etc/nginx/sites-available/
      - "/docker-volumes/certs/live/maandr.de/fullchain.pem:/certs/fullchain.pem"
      - "/docker-volumes/certs/live/maandr.de/privkey.pem:/certs/privkey.pem"

  mysql:
    image: mysql:5.7
    container_name: mysql
    restart: always
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=${mysql_root_password}
    volumes:
      - ./config/mysql/initdb:/docker-entrypoint-initdb.d
      - /docker-volumes/mysql:/var/lib/mysql

  concourse-db:
    image: postgres
    container_name: concourse-db
    environment:
      - POSTGRES_DB=${concourse_db_database}
      - POSTGRES_USER=${concourse_db_username}
      - POSTGRES_PASSWORD=${concourse_db_password}
      - PGDATA=/database
  
  concourse-web:
    container_name: concourse-web
    image: concourse/concourse
    command: web
    links: [ concourse-db ]
    depends_on: [ concourse-db ]
    volumes:
      - ./keys/web:/concourse-keys
    environment:
      - CONCOURSE_POSTGRES_HOST=concourse-db
      - CONCOURSE_POSTGRES_USER=${concourse_db_username}
      - CONCOURSE_POSTGRES_PASSWORD=${concourse_db_password}
      - CONCOURSE_POSTGRES_DATABASE=${concourse_db_database}
      - CONCOURSE_EXTERNAL_URL=${concousre_external_url}
      - CONCOURSE_ADD_LOCAL_USER=${concourse_user}:${concourse_password}
      - CONCOURSE_MAIN_TEAM_ALLOW_ALL_USERS=true

  concourse-worker:
    container_name: concourse-worker
    image: concourse/concourse
    command: worker
    privileged: true
    links: [concourse-web]
    depends_on: [concourse-web]
    volumes:
      - ./keys/worker:/concourse-keys
    environment:
      - CONCOURSE_TSA_HOST=concourse-web:2222
      - CONCOURSE_GARDEN_NETWORK
      - TSA_RETRY=true